#root {
    display: flex;
}

.menu {
width: 150px; 
height: 300vh;
background-color: aqua;
display: flex;
flex-direction: column;
}

.menu a {
margin-left: 30px;
text-decoration: none;
font-size: 30px;
font-weight: 600;
color: rgb(6, 6, 75);
}

.active {
background-color: rgb(6, 131, 131);
}

.main-page {
    display: flex;
    flex-direction: column;
}
.main-menu {
    width: calc(200vh - 150px);
    background-color: aqua;
    height: 40px;
}